body {
    background-color: lightsteelblue;
    margin: 0 auto;
}

header {
    background-color: darkgray;
    border-bottom: 2px solid darkslategray;
    color: darkslategray;
}

h1 {
    align-items: flex-start;
    display: flex;
    font-family: 'Shizuru', cursive;
    font-size: 70px !important;
    justify-content: center;
}

.companyInfo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon {
    border: 2px solid darkslategray;
    float: left;
    height: 80px;
    margin: 2px;
}